name: User Service Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install Dependencies
        run: npm install

      - name: Run Unit Tests
        run: npm run unit

  integration-tests:
    name: Integration Tests
    needs: [ unit-tests ]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install Dependencies
        run: npm install

      - name: Run Integration Tests
        run: npm run integration

  smoke-tests:
    name: Smoke Tests
    needs: [ integration-tests ]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Run Tests
        run: |
          npm install
          npm test

      - name: Upload Mochawesome Report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: mochawesome-report

  generate-report:
    name: Generate Report
    needs: [ smoke-tests ]
    if: needs.smoke-tests.outcome == 'failure' || needs.smoke-tests.outcome == 'success'
    runs-on: ubuntu-latest

    steps:
      - name: Download Mochawesome Report
        uses: actions/download-artifact@v2
        with:
          name: test-results
          path: mochawesome-report

      - name: Prepare Report Directory
        run: |
          mkdir report
          cp -r mochawesome-report/* report
          mv report/mochawesome.html report/index.html

      - name: Deploying to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: report